body {
  text-align: center;
  background-image: url(../img/background.jpg);
}

.initially-hidden {
  display: none;
}

.container {
  display: inline-block;
  margin: 10%;
  width: 70%;
  height: 70%;
  padding: 2.5%
}

.header {
  margin: 5%;
  width: 90%;
  height: 10%;
  background-color: red;
  padding: 5%;
}

.survey-question {
  margin: 5%;
  width: 90%;
  height: 50%;
  background-color: purple;
  padding: 5%;
}

#begin {
  background-color: green;
}
